@import "../../global.scss";

.navbar {
  height: 50px;
  background-color: darkblue;
  display: flex;
  justify-content: center;

  .navContainer {
    width: 90%;
    max-width: 1024px;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Media query for medium screens
    @media (max-width: 992px) {
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px;

      gap: 20px;
    }

    // Media query for small screens
    @media (max-width: 576px) {
      align-items: center;
      justify-content: space-around;
      padding: 10px;

      .logo {
        margin-bottom: 10px;
      }
    }
  }

  .logo {
    font-weight: 700;
  }

  .navItems {
    .navButton {
      margin-right: 4px;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      color: rgb(154, 77, 237);
      font-weight: 700;
      border-radius: 4px;
    }
  }
}
